[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/kuznero/rabbitmq.git
[submodule "alpine-ghc"]
	path = alpine-ghc
	url = https://github.com/kuznero/alpine-ghc.git
[submodule "gocd/server"]
	path = gocd/server
	url = https://github.com/kuznero/gocd-server.git
[submodule "elm"]
	path = elm
	url = https://github.com/kuznero/elm
