%% -*- mode: erlang -*-
[
 {rabbit,
  [
   {cluster_partition_handling, [[CLUSTER_PARTITION_HANDLING]]},
   {cluster_nodes, {[[[CLUSTER_NODES]]], [[CLUSTER_DISC_RAM]]}},
   {default_vhost, <<"/">>},
   {default_user, <<"[[USER]]">>},
   {default_pass, <<"[[PASSWORD]]">>},
   {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
   {default_user_tags, [administrator, management]},
   {hipe_compile, [[HIPE_COMPILE]]},
   {loopback_users, [[[LOOPBACK_USERS]]]},
   {mnesia_table_loading_retry_limit, 10},
   {mnesia_table_loading_retry_timeout, 30000}
   % {log_levels, [{connection, channel, federation, mirroring, debug}]}
  ]}
].

